body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(243, 228, 202);
}

.letter {
  font-family: 'Brandon Grotesque';
  font-size: 13rem;
  transition: color 100ms;
}

.other{
  font-family: 'Brandon Grotesque';
  font-size: 13rem;
  
}

.space{
  margin-right: 0.5em;
}

