body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

#rotatingText {
  font-family: 'Brandon Grotesque';
  font-size: 13rem;
  transition: color 100ms;
}